<!DOCTYPE html>
<html>
<head th:replace="~{fragmento :: head('SysFatura') }">
 	 <meta charset="UTF-8">
  </head>
 <body>
 <!-- NavBar -->
 <nav th:replace="~{navfragment:: nav }"></nav>
 <!-- Configurações do Card -->
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				  <div class="card-header">
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Parcelar?</h5>
				    <p class="card-text">Habilita/Desabilita Lançamentos Parcelados</p>
				   
				    <form action="/configuracoes/salvar" method="post" id="formulario" enctype="multipart/form-data">
					   <label th:if="${config.cdConfiguracao}==null" for="cdConfiguracao">Código</label>
					   <input th:if="${config.cdConfiguracao}==null" th:value="${config.cdConfiguracao}" type="text" name="cdConfiguracao" id="cdConfiguracao" class="form-control">
					   <label for="snParcelar">Parcelar?</label>	  
					   <select class="form-select" id="snParcelar" name="snParcelado">
						  <option th:value="S" th:if="${config.snParcelado=='S'}" selected>Sim</option>
						  <option th:value="N" th:if="${config.snParcelado=='S'}" th:text="Não">Não</option>	
						  <option th:value="N" th:if="${config.snParcelado=='N'}" selected>Não</option>
						  <option th:value="S" th:if="${config.snParcelado=='N'}" th:text="Sim">Sim</option>		  
						</select>
						<!--  
						<div class="col">
						<button type="submit" class="btn btn-primary mt-5">Salvar</button>	
						<a th:replace="~{btn_home_fragment::btn_home}">home</a>	
						</div>	
					
					
					<div  class="alert alert-primary mt-2" role="alert" th:if="${mensagem!=null}">
						<h5 th:text="${mensagem}"></h5>
					</div>-->
				</div>
		</div>	
	</div> 
		
		<div class="col"><!-- Envia e-mail -->
			<div class="card">
				  <div class="card-header">
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Notificar via E-mail</h5>
				    <p class="card-text">Notificar via e-mail o vencimento de Despesas</p>
				  		<label for="snEviar">Notificar?</label>
						<input type="checkbox" th:if="${config.snNotificar}=='N'" id="snEviar" th:value="N" name="snNotificar"/>
						<input type="checkbox" th:if="${config.snNotificar}=='S'" id="snEviar" th:value="S" checked="checked" name="snNotificar"/>
						<!-- <label for="nrDias">&nbsp;&nbsp;&nbsp;Número de Dias de Atrazo</label>	 -->
											
						<input type="number" class="form-control"  th:value="${config.nrDias}" id="nrDias" name="nrDias" size="2">
						<div class="form-text">obs: Selecione a partir de quantos dias o sistema deverá notificar o usuário!</div>
						<div>
							<label class="form-label" for="msgDiaria">Quantidade de Mensagens Diária</label>
							<input type="number" class="form-control" th:value="${config.nrMsgDiaria}" name="nrMsgDiaria" id="nrMsgDiaria" required="required"/>
							<div class="form-text">obs: Defina a quantiade de Mensagens a serem enviadas diariamente!</div>
						</div>
						<div>
						<label class="form-label" for="diretorio">Diretório de Importação</label>
						<input type="text" class="form-control" id="diretorio" name="dirImportacao" th:value="${config.dirImportacao}">
						<div class="form-text">obs: Utilize barras invertidas para informar o caminho</div>
						</div>
				</div>
			</div>	
		</div><!-- Fim Envia-Email -->
		
		<div class="col"><!-- Upload-->
			<div class="card">
				  <div class="card-header">
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Logo do Sistema</h5>
				    <p class="card-text">Imagem</p>
				  		<label for="snEviar"></label>
						<div class="mb-3">
					  		<label for="formFile" class="form-label">Selecionar arquivo</label>
					 		 <input class="form-control" type="file" id="formFile" name="file" >
						</div>	
						<div>
							<img th:src="|getimagem|" width="100px" height="100px"/>
						</div>
				</div>
			</div>	
		</div><!-- Fim upLoad -->
		
		<div>
						<div class="col">
						<button type="submit" class="btn btn-primary mt-5">Salvar</button>	
						<a th:replace="~{btn_home_fragment::btn_home}">home</a>	
						</div>	
						<div  class="alert alert-primary mt-2" role="alert" th:if="${mensagem!=null}">
							<h5 th:text="${mensagem}"></h5>
						</div>
		</div>
	</div> <!-- Fim da row -->
	</form>	
</div>
</body>
<script type="text/javascript">
var myform = document.getElementById("formulario");
document.getElementById("flexSwitchCheckDefault").addEventListener("click", function () {
  myform.submit();
});

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Necessário para execição dos ícones feather-->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
     feather.replace()
</script>

</html>