<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title tiles:fragment="title">SysfaturaWeb : Login</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
	<style type="text/css">
		body{
			background-image: url('https://st2.depositphotos.com/3730721/7212/i/600/depositphotos_72121457-stock-photo-wide-angle-of-skyscraper-made.jpg');
			background-size:cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
			
		}
		
	</style>
</head>
<body th:background="|getimagem|">
	<div class="container-sm" style="position: absolute; height: 116px; top: 20px; width: 100%; left: 1px;">
	<main class="form-signin">
		
		<div class="container-sm" align="center"
			style="position: absolute; height: 116px; top: 200px; width: 100%; left: 1px;">
			<div class="col-xs-3 col-sm-4 offset-md-3">
				<form name="f" th:action="@{/login}" method="post">
					<fieldset>
						<div>
							<div>
								<img th:src="|getimagem|" width="150px" height="150px"/>
							</div>
							
							<legend>Identificação do Usuario </legend>
						</div>
						<div th:if="${param.error}" class="alert alert-error">Senha
							Inválida</div>
						<div th:if="${param.logout}" class="alert alert-success">
							Você está desconectado</div>
						<label for="username" class="visually-hidden">Login</label> <input
							type="text" id="username" name="username" class="form-control">
						<label for="password" class="visually-hidden">Senha</label>
						<p></p>
						<input type="password" id="password" name="password"
							class="form-control">
						<div class="checkbox mb-3">
							<label> </label>
						</div>
						<button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
						<div>
							<a href="/cadusuario" style="color: black;">Não sou
								cadastrado</a>
						</div>	
						<p class="mt-5 mb-3">&copy; Elias - todos os direitos reservados  build v.1.94</p>
					</fieldset>
				</form>
			</div>
		</div>
</div>
	</main>
</html>