<nav th:fragment="menu" class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>                                   
                
              </li>
              <!-- Menu Lançamentos -->
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Lançamentos<br>                 
                </a>
              </li>
              <!-- Cadastro -->
              <li class="nav-item">
                <a class="nav-link" href="lancamento/cadastro">
                  <span data-feather="dollar-sign" class="ml-4"></span>
                  Cadastro<br>                 
                </a>
                <a class="nav-link" href="/listar">
                  <span data-feather="dollar-sign" class="ml-4"></span>
                  Listar<br>                 
                </a>
              </li>
            </ul>
            
			<!-- Fim Menu Lançamentos -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
              
              <!-- Configurações  -->
               <li class="nav-item">
                <a class="nav-link" href="/configuracoes/listar">
                  <span data-feather="activity"></span>
                  Configurações
                </a> 
                <a class="nav-link" href="/usuario/listar">
                  <span data-feather="users" class="ml-2"></span>
                  Usuários
                </a>
                <a class="nav-link" href="/tipolancamento/listar">
                  <span data-feather="type" class="ml-2"></span>
                  Tipo de Lançamento
                </a>                
                 <a class="nav-link" href="/formapagto/listar">
                  <span data-feather="type" class="ml-2"></span>
                  Forma de Pagamen.
                </a>
              </li>              
            </ul>
          </div>
        </nav>