<nav th:fragment="menu" class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <!-- 
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>                                   
                --> 
              </li>
              <!-- Menu Lançamentos -->
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Lançamentos<br>                 
                </a>
              </li>
              <!-- Cadastro -->
              <li class="nav-item">
                <a class="nav-link" href="lancamento/cadastro">
                  <span data-feather="dollar-sign" class="ml-4"></span>
                  Cadastro<br>                 
                </a>
                <a class="nav-link" href="/listar">
                  <span data-feather="dollar-sign" class="ml-4"></span>
                  Listar<br>                 
                </a>
              </li>
            </ul>           
            
             <ul class="nav flex-column">  
              <!-- Configurações  -->
               <li class="nav-item">
                <a class="nav-link" href="/configuracoes">
                  <span data-feather="activity"></span>
                  Configurações
                </a> 
                <a class="nav-link" href="/usuario/listar">
                  <span data-feather="users" class="ml-2"></span>
                  Usuários
                </a>
                <a class="nav-link" href="/tipolancamento/listar">
                  <span data-feather="type" class="ml-2"></span>
                  Tipo de Lançamento
                </a>                
                 <a class="nav-link" href="/formapagto/listar">
                  <span data-feather="type" class="ml-2"></span>
                  Forma de Pagamen.
                </a>
                 <a class="nav-link" href="/receita/cadastro">
                  <span data-feather="credit-card"></span>
                  Receitas
                </a>
                <a class="nav-link" href="/receita/listar">
                  <span data-feather="file-plus" class="ml-2"></span>
                  Listar
                </a> 
                 
              </li>              
            </ul>
          </div>
        </nav>