<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid text-white">
    <a class="navbar-brand" href="#" style="color: white;"><img th:src="|/getimagem|" width="100px" height="100px"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      	<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color: white;"><span data-feather="home"></span>Home</a>
        </li>
        <!-- Menu Lançamentos / Despesas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span data-feather="dollar-sign"></span>Despesas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/lancamento/cadastro"><span data-feather="layers"></span>Cadastro</a></li>
            <li><a class="dropdown-item" href="/listar"><span data-feather="dollar-sign"></span>Listar Despesas</a></li>           
            
          </ul>
        </li>
         <!-- Menu Receitas -->
         
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span data-feather="dollar-sign"></span>Receitas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/receita/cadastro"><span data-feather="layers"></span>Cadastro</a></li>
            <li><a class="dropdown-item" href="/receita/listar"><span data-feather="dollar-sign"></span>Listar Receitas</a></li>           
          </ul>
        </li>
         <!-- Menu Metas -->
         
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span data-feather="pie-chart"></span>Metas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/meta/listar"><span data-feather="layers"></span>Cadastro</a></li>
           
          </ul>
        </li>
       
         <!-- Menu Relatórios-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span data-feather="paperclip"></span>Relatórios 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/extrato/financeiro/01"><span data-feather="dollar-sign"></span>Relatório de Despesas</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/log/logs/0"><span data-feather="codesandbox"></span>Relatório de Movimentação</a></li>       
          </ul>
        </li>   
         <!-- Menu Relatórios-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span data-feather="calendar"></span>Agenda 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/agenda"><span data-feather="calendar"></span>Consultar Agenda</a></li>
          </ul>
        </li>   
        <!--  -->  
         <!-- Menu Financeiro-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span data-feather="package"></span>Financeiro 
          </a>          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/conta/listar"><span data-feather="dollar-sign"></span>Contas</a></li>  
           <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/lotecontabil/pesquisar"><span data-feather="x-square"></span>Lotes Contábeis</a></li>
          </ul>
        </li>   
        <!--  -->  
        <!-- Menu Configurações-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span data-feather="settings"></span>Configurações 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/usuario/cadastro"><span data-feather="users"></span>Usuários</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/usuario/listar"></span>
            	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
				  <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
				  <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
				</svg>	Listar Usuários</a>
            
            </li>
            <li><hr class="dropdown-divider"></li> 
            <li><a class="dropdown-item" href="/tipolancamento/cadastro"><span data-feather="layers"></span>Tipo de Lançamento</a></li>
            <li><a class="dropdown-item" href="/tipolancamento/listar">
            	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
				  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
				</svg> Listar Tipos de Lançamento</a>
			</li>
            <li><hr class="dropdown-divider"></li> 
            <li><a class="dropdown-item" href="/formapagto/cadastrar"><span data-feather="credit-card"></span>Forma de Pagamento</a></li>
            <li><a class="dropdown-item" href="/formapagto/listar">
	            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
				  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
				</svg>Listar formas de Pagamento</a>
			</li>
            <li><hr class="dropdown-divider"></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/configuracoes/listar"><span data-feather="activity"></span>Configurações do Sistema</a></li>
                     
          </ul>
        </li>  
        <!--  -->   
      </ul>
      <form class="d-flex" th:action="@{/logout}">      
        <button class="btn btn-outline-success" type="submit">Sair</button>
      </form> 
    </div>
  </div>
</nav>	
