<!DOCTYPE html>
<html>
 <head th:replace="~{fragmento :: head('Lançamento') }">   
<meta charset="UTF-8">
</head>
<body>
<!-- Imagem dos Alertas -->
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
	    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	  </symbol>
	  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
	    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
	  </symbol>
	  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
	    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	  </symbol>
	</svg>
<!-- Fim da imagem dos Alertas -->

	<!-- Nav Bar -->
    <nav th:replace="~{navfragment:: nav }"></nav>
	<div class="container-fluid">
		<div class="card mt-1">
			<div class="card-header">Cadastro de Provisão</div>
			<div class="card-body">
				<h5 class="card-title" >Provisionamento de Receita</h5>					
			<p class="card-text">
			<div class="container">
				<form method="post" action="/provisao/salvar">
					<div class="col">
						<label class="form-label" for="codigo">Código</label>
						<input type="text" class="form-control" name="cdProvisao" id="cdProvisao" th:value="${codigo}" aria-describedby="cdProvisao" readonly="readonly"/>							
					</div>
					<div class="col">
						<label class="form-label" for="codigo">Descrição</label>
						<input type="text" class="form-control" name="dsprovisao" id="dsprovisao" th:value="${descricao}" aria-describedby="dsProvisao" required="required"/>							
					</div>
					<div class="col">
						<label class="form-label" for="codigo">Percentual</label>
						<input type="number" step="0.1" class="form-control" name="percentual" id="percentual" th:value="${percentual}" aria-describedby="percentual" required="required"/>							
					</div>
					<div class="col">
						<label class="form-label" for="codigo">Conta</label>
						<select class="form-control" id="conta" name="nrconta">
		        		 	<option th:each="contas : ${contas}" th:text="${contas.nrConta} + ' - ' +${contas.dsConta}" th:value="${contas.nrConta}"> </option>
		        		 </select>
					</div>
					<div class="mt-2">
							<a href="/provisao/listar" class="btn btn-success mt-2">Atualizar
					    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
							  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
							  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
							</svg>
						
					 </a>
					<button type="submit" class="btn btn-primary mt-2">Salvar</button>
				</form>		
				<!-- mensagem de alerta -->		
					<div th:if="${mensagem!=null}" class="mt-3 alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
					  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
					  <div>
					    <p th:text="${mensagem}"></p>
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					  </div>			 
					</div>
				<!-- fim do alerta -->				
			</div>
		</div>
	</div>
		<!-- Fim do Card Cadastro -->
		<!-- Inicio da tabela de Provisao -->
			<!-- Card Provisionamento -->
			<div class="card ml-1 mr-1 mt-3">
				  <div class="card-header">Confirguração do Provisionamento de Receita</div>
				  <div class="card-body">
				    <h5 class="card-title">Provisionamentos Cadastrados</h5>
				    <p class="card-text"></p>
						<table class="table table-striped table-hover" id="lancamentos">
							<thead>
								<tr>
									<th scope="col" style="width: 20%">Descrição</th>
									<th scope="col" style="width: 10%">Percentual</th>
									<th scope="col" style="width: 10%">Conta</th>
									<th scope="col" >Ação</th>		
								</tr>
							</thead>
							<tbody>
								<tr th:each="p : ${provisoes}">
									<td th:text="${p.dsProvisao}">Despesas de Emergência</td> 
									<td th:text="${#numbers.formatDecimal(p.percentual*100,1,0,'COMMA')} + '%'">20%</td>
									<td th:text="${p.nrConta}">Itaú</td>
									
									<td>
										<a href="/provisao/editar/" th:href="@{/provisao/editar/} + ${p.cdProvisao}" class="btn btn-warning">Editar</a>
										<a href="/provisao/excluir/" th:href="@{/provisao/excluir/} + ${p.cdProvisao}" class="btn btn-danger">Excluir</a>
									</td>
								</tr>
							</tbody>
						</table>
						<a href="/" class="btn btn-success mt-2">Home
				    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
				 				 <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
						</svg>
						
					    </a>
						
						</div>
				</div>
			</div><!-- Fim do Card Provisionamento-->	
		<!-- Fim da tabela -->
	</div>
</body>
	<!-- Script necessário para o funcionamento da NavBar-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     
	<!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>	
    <script>
      feather.replace()
    </script>	
</html>

