<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
<meta charset="UTF-8">
<title>Insert title here</title>
	<script src = "https://code.highcharts.com/highcharts.js " > </script>
	<script src = "/js/highstock.js "></script>
	<script src = "/js/highmaps.js "> </script>
</head>
<body>
	<div id="container" style="width:100%;height:400 px;"> </div>   
	<script  th:inline="javascript">
	
	document.addEventListener('DOMContentLoaded', function () {
		var  data=[[${values}]];
		var  series=[[${keyset}]];
		var  titulo=[[${titulo}]];
		var  grafico=[[${grafico}]];
        const chart = Highcharts.chart('container', {
            chart: {
                type: grafico
            },
            title: {
                text: titulo
            },
            xAxis: {
                categories:series
            },
            yAxis: {
                title: {
                    text: 'Faturamento em milhares R$'
                }
            },
            series: [{
                name: 'Meses',
                data: data
            }]
        });
    });
	
	</script> 
	
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="meta"></div>
    <p class="highcharts-description">
        
    </p>
</figure>
<!-- Gráfico de Metas -->
<script type="text/javascript">
		Highcharts.chart('meta', {
		    chart: {
		        plotBackgroundColor: null,
		        plotBorderWidth: 0,
		        plotShadow: false
		    },
		    title: {
		        text: 'Metas 2021',
		        align: 'center',
		        verticalAlign: 'middle',
		        y: 60
		    },
		    tooltip: {
		        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		    },
		    accessibility: {
		        point: {
		            valueSuffix: '%'
		        }
		    },
		    plotOptions: {
		        pie: {
		            dataLabels: {
		                enabled: true,
		                distance: -50,
		                style: {
		                    fontWeight: 'bold',
		                    color: 'white'
		                }
		            },
		            startAngle: -90,
		            endAngle: 90,
		            center: ['50%', '75%'],
		            size: '110%'
		        }
		    },
		    series: [{
		        type: 'pie',
		        name: 'Metas',
		        innerSize: '50%',
		        data: [
		            ['Gramado', 72.3],
		            ['restante', 27.7],
		            
		            {
		                name: 'Other',
		                y:0,
		                dataLabels: {
		                    enabled: false
		                }
		            }
		        ]
		    }]
		});

</script>
</body>
</html>