<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmento :: head('SysFatura') }">
 		<meta charset="UTF-8">
 		<script src = "https://code.highcharts.com/highcharts.js" > </script>
		<script src = "/js/highstock.js "></script>
		<script src = "/js/highmaps.js "> </script>
		
  </head>
  <body>
    <!-- Nav Bar -->
    <nav th:replace="~{navfragment:: nav }"></nav>
    <div class="container-fluid">
      <div class="row">
        <nav th:replace="~{menu_fragmento :: menu}">   
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h3 class="h4">Dashboard - Despesas</h4>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Compartilhar</button>
                <button class="btn btn-sm btn-outline-secondary">Exportar</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
               		Esta Semana
              </button>
            </div>
          </div>
          <!-- Grafico -->
         <div id="container" style="width:100%;height:400 px;"> </div> 
        </main>
      </div>
    </div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Jquery Data Tables-->
    <script src="hhttps://cdnjs.com/libraries/jquery.mask"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
	<!--  labels: labels:["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Dez"]-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Grafico -->
<script  th:inline="javascript">

document.addEventListener('DOMContentLoaded', function () {
var  data=[[${values}]];
var  series=[[${keyset}]];
var  titulo=[[${titulo}]];
var  grafico=[[${grafico}]];
var data_receitas=[[${valuesreceitas}]]
var series_receitas=[]
      const chart = Highcharts.chart('container', {
          chart: {
              type: grafico
          },
          title: {
              text: titulo
          },
          xAxis: {
              categories:series
          },
          yAxis: {
              title: {
                  text: 'Faturamento em milhares R$'
              }
          },
          series: [{
              name: 'Despesas',
              data: data
          },{
        	  name: 'Receitas',
              data: data_receitas
          }
          ]
      });
  });

</script> 
<!--  --> 

  </body>
</html>
