<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
<meta charset="UTF-8">
<title>SysFatura</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid text-white"  >
    <a class="navbar-brand" href="#" style="color: white;">SysFatuarWeb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Menu Lançamentos / Despesas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Despesas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cadastro</a></li>
            <li><a class="dropdown-item" href="#">Listar Despesas</a></li>           
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Relatório de Despesas</a></li>
          </ul>
        </li>
         <!-- Menu Receitas -->
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Receitas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cadastro</a></li>
            <li><a class="dropdown-item" href="#">Listar Receitas</a></li>           
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Relatório de Receitas</a></li>
          </ul>
        </li>
       <!-- Menu Configurações-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Configurações
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Usuários</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cadastro de Usuários</a></li>
            <li><a class="dropdown-item" href="#">Usuários Cadastrados</a></li>
            <li><hr class="dropdown-divider"></li> 
            <li><a class="dropdown-item" href="#">Tipo de Lançamento</a></li>
            <li><a class="dropdown-item" href="#">Cadastrar</a></li>
            <li><a class="dropdown-item" href="#">Exibir</a></li>
            <li><hr class="dropdown-divider"></li> 
            <li><a class="dropdown-item" href="#">Forma de Pagamento</a></li>
            <li><a class="dropdown-item" href="#">Cadastrar</a></li>
            <li><a class="dropdown-item" href="#">Exibir</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Configurações do Sistema</a></li>
          </ul>
        </li>       
      </ul>
      <form class="d-flex" th:action="@{/logout}">      
        <button class="btn btn-outline-success" type="submit">Sair</button>
      </form> 
    </div>
  </div>
</nav>
	<!-- Script necessário para o funcionamento da NavBar-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>