<!DOCTYPE html>
<html>
 <head>
 
<meta charset="UTF-8">
<title>Lançamentos do Mes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
		
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <!-- Link Jquery - Data Tables-->
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
     
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JqueryMask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
		<div class="card">
		<div class="card-header">Lançamentos</div>
		<div class="card-body">
			<h5 class="card-title">Relação de Lançamentos</h5>
			<p class="card-text"></p>
			<table class="table table-striped table-hover" id="lancamentos">
				<thead>
					<tr>
						<th scope="col" >Código</th>
						<th scope="col">Descrição</th>
						<th scope="col" >Data de Cadastro</th>
						<th scope="col" >Pago</th>
						<th scope="col" >Valor</th>
						<th scope="col" >Forma de Pagamento</th>
						<th scope="col" >Tipo de Lançamento</th>
						<th scope="col" >Usuário</th>
						<th scope="col" >Ação</th>							
					</tr>
				</thead>
				<tbody>
					<tr >
						<th scope="row" >-</th>
						<td >					
						
						<td>
						<td >-</td>
						<td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>
							<a href="/lancamento/excluir/"  class="btn btn-danger">Excluir</a>
							<a href="/lancamento/alterar/" class="btn btn-warning">Alterar</a>						
						</td>
					</tr>
				</tbody>
			</table>
			 <a href="/" class="btn btn-success">Home
		    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
		 				 <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
				</svg>
		    </a>
			<a href="/lancamento/cadastro" class="btn btn-primary">Cadastro</a>
			
			<a href="/formapagto/relatorio/pdf" class="btn btn-secondary">Imprimir
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
	 					 <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
	 					 <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
				</svg>
			</a>
			
		</div>
	</div>
	<!-- Paginação -->
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <script>
  $(document).ready(function(){
      $('#lancamentos').DataTable({
        	"language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
               
            }
        });
  });
  </script>
  
</script>
</body>
</html>