<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="~{fragmento :: head('Lançamentos - Listar') }">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		 <!-- Nav Bar -->
    	<nav th:replace="~{navfragment:: nav }"></nav>
		<div class="card">
		<div class="card-header">Lançamentos</div>
		<div class="card-body">
			<h5 class="card-title">Relação de Lançamentos</h5>
			<p class="card-text"></p>
			<table class="table table-striped table-hover" id="lancamentos">
				<thead>
					<tr>
						<th scope="col" >Código</th>
						<th scope="col">Descrição</th>
						<th scope="col" >Vencimento</th>
						<th scope="col" >Pago</th>
						<th scope="col" >Valor</th>
						<th scope="col" >Forma de Pagamento</th>
						<th scope="col" >Tipo de Lançamento</th>
						<th scope="col" >Usuário</th>
						<th scope="col" >Ação</th>							
					</tr>
				</thead>
				<tbody>
					<tr th:each="lancamento : ${lancamentos}">
						<th scope="row" th:text="${lancamento.cdLancamento}">-</th>
						<td th:text="${lancamento.dsLancamento}">					
						
						<!-- <td th:text="${#temporals.format(lancamento.dtCadastro, 'dd/MM/yyyy')}"> -->
						<td th:text="${#temporals.format(lancamento.dtCompetencia, 'dd/MM/yyyy')}"> 
						<td th:if="${lancamento.snPago}=='SIM'" th:text="${lancamento.snPago}">-</td>
						<td th:if="${lancamento.snPago}=='Não'">
								<a href="/lancamento/pagar/" th:href="@{'/lancamento/pagar/'  + ${lancamento.cdLancamento}}" class="btn btn-success">Pagar</a>
						</td>
						<td th:text="${#numbers.formatDecimal(lancamento.vlPago,1,2,'COMMA')}" >
						<td th:text="${lancamento.formaDePagamento.descricao}">-</td>
						<td th:text="${lancamento.tipoLancamento.dsTipoLancamento}">-</td>
						<td th:text="${lancamento.usuario.login}">-</td>
						<td>
							<a href="/lancamento/excluir/" th:href="@{'/lancamento/excluir/'  + ${lancamento.cdLancamento}}" class="btn btn-danger">Excluir</a>
							<a href="/lancamento/alterar/" th:href="@{'/lancamento/alterar/'  + ${lancamento.cdLancamento}}" class="btn btn-warning">Alterar</a>						
						</td>
					</tr>
				</tbody>
			</table>
			 <a href="/" class="btn btn-success">Home
		    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
		 				 <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
				</svg>
		    </a>
			<a href="/lancamento/cadastro" class="btn btn-primary">Cadastro</a>
			
			<a href="/formapagto/relatorio/pdf" class="btn btn-secondary">Imprimir
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
	 					 <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
	 					 <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
				</svg>
			</a>
			
		</div>
	</div>
	<!-- Paginação -->
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <script>
  $(document).ready(function(){
      $('#lancamentos').DataTable({
        	"language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
                
            },
            columnDefs: [ {
	            targets: [ 0 ],
	            orderData: [ 0, 3]
	        }]
      
        });
  });
  
 
  </script>
 	 <!-- Script necessário para o funcionamento da NavBar-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<!-- Necessário para execição dos ícones feather-->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
      feather.replace()
    </script>
</body>
</html>